services:
  db:
    image: mysql:8.0
    container_name: mankeu_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mankeu
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mankeu_backend
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - /app/.venv
    command: sh -c "alembic upgrade head && uvicorn app.main:app --host 0.0.0.0 --port 8000"
    environment:
      - DATABASE_URL=mysql+asyncmy://root:password@db/mankeu
      - CORS_ALLOW_ALL_ORIGINS=True
      - PROJECT_NAME="Mankeu API"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: mankeu_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  db_data:
